@using Microsoft.AspNetCore.Mvc.Localization
@using Acme.CustomerStore.Localization
@inject IHtmlLocalizer<CustomerStoreResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
